*{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

main {
  width: 1280px;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/header_background.svg);
  background-repeat: no-repeat;
  margin-top: 40px;
  width: 1280px;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  height: 90px;
  width: 1280px; 
}


.logo_img {
  display: flex;
  height: 14vh;
  align-items: center;
}


.nav_bar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;
  height: 14vh;
}


.home {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.service {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.about {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.contact {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.contact:hover{
  cursor: pointer;
}

.nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 55px;
  font-family: 'inter';
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  color: #ffff;
  background-color:rgb(19, 118, 248);
  cursor: pointer;
  font-family: 'open sans';
  font-weight: 400;
  font-size: 18px;
}

.nav_button:hover {
  background-color:  rgb(6, 78, 172);
}
/*  */



.get_in__touch__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  row-gap: 20px;
}


.get_in__touch___description {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 18px;
  width: 480px;
  color: rgb(60, 73, 89);
  text-align: center;
}


h1{
  font-family: 'open sans';
  font-weight: 600;
  font-size: 42px;
}

.map_block__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.info_block {
    width: 500px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.left_colum{
  display: flex;
  row-gap: 40px;
  column-gap: 9px;
}


.info_container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info_text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
  width: 374px;
}

.info_text {
  font-family: 'open sans';
  font-weight: 500;
  color: rgb(1, 22, 50);
}

.sr_text {
  font-family: 'open sans';
  font-weight: 400;
  color: rgb(1, 22, 50);
}


.inputs_container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.names_inputs {
  display: flex;
  column-gap: 30px;
}


.container {
  display: flex;
  column-gap: 80px;
  margin-top: 80px;
}


.enter_phone__number {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.inputs_titles__style {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 18px;
  color: rgb(60, 73, 89);
}


.enter_phone__number input {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 2px solid rgb(207, 207, 207);
  height: 56px;
  border-radius: 6px;
  width: 232px;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(207, 207, 207);
}


.other_inputs__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.other_inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.other_inputs input {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 2px solid rgb(207, 207, 207);
  height: 56px;
  border-radius: 6px;
  width: 494px;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(207, 207, 207);
}

.select {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 2px solid rgb(207, 207, 207);
  height: 56px;
  border-radius: 6px;
  width: 232px;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(207, 207, 207);
}

form {
  display: flex;
  column-gap: 30px;
}

textarea {
  width: 494px;
  height: 245px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.textarea_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.appointmant_button__container {
  margin-top: 30px;

}


.appointmant_button {
  width: 227px;
  height: 55px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(19, 118, 248);
  color: white;
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.appointmant_button:hover {
  background-color:  rgb(6, 78, 172);
}

/*  */




/*  */
.accordion {
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


  .openButtonWrapper {
    display: flex;
    justify-content: space-between;
  }

.accordion-header-button {
    cursor: pointer;
}


.FAQ_title__container {
 margin-top: 120px;
}


.FAQ_hr {
    margin-top: 20px;
    width: 570px;
  }

.accordion-header-wrapper {
    background-color: #f1f1f1;
    padding: 10px 15px;
}

.accordion-content {
    display: none;
    padding: 18px 18px 18px 18px;
    background-color:  rgb(19, 118, 248);
    border-radius: 20px;
    height: 160px;
}

.accordion-item.active .accordion-content {
    display: block;
}


  .FAQ_title__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 13px;
  }

  .FAQ_description {
    font-family: 'open sans';
    font-weight: 600;
    font-size: 18px;
    width: 455px;
    color: rgb(60, 73, 89);
    text-align: center;
}


/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_background {
  background: url(assets/footer_background.svg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  width: 1064px;
  height: 390px;
  margin-top: 60px;
}

.footer_background_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 600px;
}


.footer_title__text {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 42px;
  color: rgb(255, 255, 255);
}

.footer_description__text {
  font-family: 'open sans';
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 500px;
}

.footer_button {
  width: 150px;
  height: 55px;
  border-radius: 10px;
  border: none;
  background-color: rgb(19, 118, 248);
  color: white;
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
}


.footer_nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  height: 90px;
  margin-top: 100px;
  width: 1280px; 
}


hr {
  width: 1280px;
  color: rgb(1, 22, 50);
  margin-bottom: 30px;
}



.rights_text__style {
  font-family: 'open sans';
  font-weight: 400;
  font-size: 14px;
  color: rgb(1, 22, 50);
}

.footer_social__media___container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  width: 1280px;
}


.footer_social__media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

select {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid rgb(207, 207, 207);
    height: 56px;
    border-radius: 6px;
    font-family: 'open sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgb(207, 207, 207);
}